@use 'sass:map';

$minBreakpoints: (
  sm: 36em,
  md: 48em,
  lg: 62em,
  xl: 75em,
  xxl: 87.5em,
);

// Min-width media query
@mixin min-mq($key) {
  $size: map.get($minBreakpoints, $key);

  @media (min-width: $size) {
    @content;
  }
}

// Offset of 0.00125em (0.2px) for max-width media queries
$offset: 0.00125em;
$maxBreakpoints: (
  sm: 36em - $offset,
  md: 48em - $offset,
  lg: 62em - $offset,
  xl: 75em - $offset,
  xxl: 87.5em - $offset,
);

// Max-width media query
@mixin max-mq($key) {
  $size: map.get($maxBreakpoints, $key);

  @media (max-width: $size) {
    @content;
  }
}

@mixin container {
  max-width: 75rem; // TODO: Maybe change the max-width?
  width: 100%;
  margin: 0 auto;
}
