/**************** Tailwind ****************/
@tailwind base;
@tailwind components;
@tailwind utilities;

/**************** Fonts ****************/
/* poppins-400 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url('/fonts/poppins-400.woff2') format('woff2');
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: optional;
  src: url('/fonts/poppins-500.woff2') format('woff2');
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: optional;
  src: url('/fonts/poppins-600.woff2') format('woff2');
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: url('/fonts/poppins-700.woff2') format('woff2');
}

/**************** Base Styles ****************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus-visible {
  outline: black dashed 2px;
  outline-offset: 3px;
}

body {
  font-family: 'Poppins', 'San Francisco', 'SF Pro Text', -apple-system,
    system-ui, sans-serif;
}
