@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color-scheme: light;
  background-color: #f0fdfa !important;
  color: black;
  transition: none !important;
}

body.dark {
  color-scheme: dark;
  background-color: #27272a !important;
  color: white;
}
