@tailwind base;
@tailwind components;
@tailwind utilities;

/**************** Fonts ****************/
/* poppins-400 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url('/fonts/poppins-400.woff2') format('woff2');
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: optional;
  src: url('/fonts/poppins-500.woff2') format('woff2');
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: optional;
  src: url('/fonts/poppins-600.woff2') format('woff2');
}
// TODO: Remove the Poppins 700 weight if I don't need it anywhere in my application
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: url('/fonts/poppins-700.woff2') format('woff2');
}

/**************** Base Styles ****************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus-visible {
  outline: black dashed 2px;
  outline-offset: 3px;
}

html {
  scroll-behavior: smooth;
}

body {
  // margin: 0 0 var(--header-height) 0;
  // font-size: var(--normal-font-size);
  font-family: var(--font-family-body);
  background-color: var(--color-background);
  color: var(--color-text-normal);
  transition: background-color var(--transition-color),
    color var(--transition-color);
  overflow-x: hidden;
}

main {
  padding: 0 var(--body-horizontal-padding);

  section {
    @include mixins.container;
  }
}

button {
  all: unset;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

::selection {
  background-color: var(--color-selection-background);
  color: var(--color-selection-text);
}

::-webkit-scrollbar {
  width: 0.5rem;
  // background-color: var(--color-scroll-bar);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll-thumb);
  border-radius: 0.5rem;

  &:hover {
    background-color: var(--color-scroll-thumb-hover);
  }

  &:active {
    background-color: var(--color-scroll-thumb-active);
  }
}
