@use "../../styles/mixins";

.hero {
  padding: 65px 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  @include mixins.min-mq(md) {
    .watermarkContainer {
      z-index: -1;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;

      .watermark1,
      .watermark2,
      .watermark3 {
        position: absolute;
        right: 0;
        width: auto;
        height: auto;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        opacity: 0.3;
      }

      .watermark1 {
        background-color: var(--color-watermark-1);
        height: clamp(0px, 60%, 30rem);
        transform: translate(calc(50% + var(--body-horizontal-padding)), -2rem);
      }
      .watermark2 {
        background-color: var(--color-watermark-2);
        height: clamp(0px, 37%, 18.5rem);
        transform: translate(-25rem, -8rem);
      }
      .watermark3 {
        background-color: var(--color-watermark-3);
        height: clamp(0px, 29%, 14.5rem);
        transform: translate(-15rem, 10rem);
      }

      @include mixins.min-mq(lg) {
        .watermark1 {
          height: clamp(0px, 85%, 42.5rem);
          transform: translate(
            calc(5% + var(--body-horizontal-padding)),
            -2rem
          );
        }

        .watermark2 {
          height: clamp(0px, 53%, 26.5rem);
          transform: translate(-40rem, -8rem);
        }

        .watermark3 {
          height: clamp(0px, 33%, 16.5rem);
          transform: translate(-30rem, 16rem);
        }
      }
    }
  }

  .titleSubHeader {
    // text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: var(--color-text-subheading);
  }

  .title,
  .subtitle {
    font-size: clamp(2.25rem, 5.5vw, 4rem);
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 1rem;
  }

  .title {
    color: var(--color-text-heading);
  }

  .subtitle {
    color: var(--color-text-normal);
  }

  .copyText {
    margin-top: 0.75rem;
    font-size: 0.9rem;
    max-width: 35rem;
  }

  .callToAction {
    width: max-content;
    margin-top: 2.5rem;
    padding: 1rem 2rem;
    border-radius: 4px;
    background-color: var(--color-primary-button);
    color: white;
    font-weight: 500;

    &:hover,
    &:focus-visible {
      background-color: var(--color-primary-darker);
    }
  }
}
